@layer base {
    .board-wrapper {
     border-radius: 5px;
        @apply relative overflow-hidden flex shadow-sm flex-col h-auto bg-white  border border-gray-200 text-black md:w-full
        sm:w-full my-1
    }
    /* flex shadow-sm  bg-white border border-gray-200 text-black md: w-full sm:w-full my-1; */
    .board-header {
        height: auto;
        @apply px-6 pt-2 pb-6
    }
    .board-body {
        @apply p-5
    }
    .board-top-header {
        @apply flex flex-row justify-between pt-4
    }
    .board-header-title {
        @apply text-2xl text-gray-700
    }
    .board-company {
        @apply text-base text-blue-600 mr-2
    }
    .board-location {
        @apply text-base text-gray-500 flex flex-row
    }
    /* .board-body {
        @apply mt-2 flex flex-row
    } */
    .location-dot {
        height: 12px;
        min-width: 12px;
        @apply bg-gray-300 border border-gray-300 rounded-lg m-1 mr-1 
    }
    .board-date-posted {
        @apply  text-green-400
        
    }
    /* .board-description {
        @apply text-gray-500
    } */
}